# Dependencies
node_modules/

# Production Build
dist/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & Scratch
.DS_Store
Thumbs.db
scratch/
.gemini/
